@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Dancing+Script&display=swap');

body {
    background-color: rgb(228, 197, 157);
}

.heading {
    text-align: center;
}

.playground-heading {
    color: darkcyan;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

.main{
    border: 3px solid grey;
    width: 55%;
    margin: 1rem auto;
}

.main div {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 2rem auto;
}

#red {
    border-color: red;
}

#green {
    border-color: green;
}

#blue {
    border-color: blue;
}

.footer {
    color:rgb(14, 85, 85);
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    text-align: center;
}